<html>
	<head>
		<style>
		.custab{
			border: 1px solid #ccc;
			padding: 5px;
			margin: 5% 0;
			box-shadow: 3px 3px 2px #ccc;
			transition: 0.5s;
		}
		
		.custab:hover{
			box-shadow: 3px 3px 0px transparent;
			transition: 0.5s;
		}
		</style>
		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row col-md-6 col-md-offset-2 custyle">
			<table class="table table-striped custab">
			<thead>
			<input type="button" class="btn btn-primary btn-xs pull-right" id="load" value="+ Load more"/>
				<tr>
					<th>No.</th>
					<th>Name</th>
					<th>Share</th>
					<th>Company</th>
				</tr>
			</thead>
			<tbody id="result">
			</tbody>
			</table>
			</div>
		</div>
		<script>
			let no = 1;
			let page = 0;
			
			$( "#load" ).click(function() {
				$.get( "v1/shareholders?page="+page, function( data ) {
					for (let i = 0; i < data.data.length; i++) {
						let el = document.getElementById("result"); 
						el.innerHTML = el.innerHTML + 
						`	<tr>
								<td>` + (no++) +`.</td>
								<td>`+ data.data[i].name +`</td>
								<td>`+ data.data[i].share +`</td>
								<td>`+ data.data[i].company +`</td>
							</tr>
						`
					}
				});
			});
		</script>
	</body>
</html>


